body {
    background-color: #f4ddca;
}
.footer {
    background-color: lightgray;
    /*c2a993*/
    float: left;
    width: 100%;
}
.header__text {
    font-size: larger;
    font-weight: 200;
}
table {
    /*border: 3px solid #a96b1e;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-collapse: collapse;
    background-color: #b9cbe1;

}
tr {
    background-color: #b9cbe1;
    /*#b9cbe1*/
}
td {
    padding: 5px;
}
.main{
    margin-top: 40px;
    position: relative;
}
#homemain{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#maincont{
    padding: -0;
}
#wordsAndNames{
    width: 100%;
}
#litTitle{
    padding-top: 30px;
}
#litContent{
    padding-top: 30px;
}
.literatur{
    font-size: large;
}
p{
    padding-left: 8px;
    padding-right: 8px;
}
h1{
    padding-left: 8px;
    padding-right: 8px;
}
h4{
    padding-left: 8px;
    padding-right: 8px;
}
.contentTitle{
    padding-top: 30px;
}
*{
    margin: 0px;
    padding: 0px;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}
.intro{
    height: 165px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .6);
    color: white;
    transition: .5s;
}
.containerCard{
    display: flex;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
#footertable{
    background-color: lightgray;
    padding: 0px 250px 0px 250px;
}
.footerrow{
    background-color: lightgray;
}
.cardTitle{
    margin: 10px;
    font-size: 40px;
}
.cardContent{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 300px;
    bottom: 0;
    background: black;
}
.card:hover .cardContent{
    visibility: visible;
    opacity: 1;
    
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
