
body {
    background-color: #f4ddca;
}
.footer {
    background-color: lightgray;
    /*c2a993*/
    padding: 10px;
}
.header__text {
    font-size: larger;
    font-weight: 200;
}
table {
    /*border: 3px solid #a96b1e;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-collapse: collapse;
    background-color: #b9cbe1;

}
tr {
    background-color: #b9cbe1;
    /*#b9cbe1*/
}
td {
    padding: 5px;
}
.main{
    margin-top: 40px;
}
#maincont{
    padding: -0;
}
#wordsAndNames{
    width: 100%;
}
#litTitle{
    padding-top: 30px;
}
#litContent{
    padding-top: 30px;
}
.literatur{
    font-size: large;
}
p{
    padding-left: 8px;
    padding-right: 8px;
}
h4{
    padding-left: 8px;
    padding-right: 8px;
}
.contentTitle{
    padding-top: 30px;
}
/*colors: 
#fffff1
#eadabc
#d4b588
#bf9053
#a96b1e*/